@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  /* background-color: gray; */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  font-size: 15px;
}

*::-webkit-scrollbar {
  display: none;
}

#background {
  /* flex-wrap: none; */

  /* width: 100%; */
  /* overflow: hidden; */
  position: absolute;
  transform: skewY(-15deg);
  max-width: 200%;
  top: -20vh;
  /* padding: 14px; */
  height: 100vh;
  text-align: center;

  animation: color 36s ease-in-out 0s infinite;

  /* filter: grayscale(0) brightness(0.3); */
}

#background-text {
  word-wrap: break-word;
  text-align: center;  

  /* background-color: dimgray; */
  font-family: fantasy;
  font-size: 550px;
  color: rgb(36, 36, 36);
  z-index: -1;
  /* overflow: hidden; */
}

@keyframes color {
  0% {
    text-shadow: 4px 4px hsla(0, 100%, 50%, 0.2);
  }
  33% {
    text-shadow: 4px 4px hsla(120, 100%, 50%, 0.2);
  }
  66% {
    text-shadow: 4px 4px hsla(240, 100%, 50%, 0.2);
  }
  100% {
    text-shadow: 4px 4px hsla(360, 100%, 50%, 0.2);
  }
}

/* Center the container */
body {
  background: rgb(36, 36, 36);
  display: flex;

  /* align-items: center; */
  /* justify-content: center; */
}

/* Center the cards in the container */
#container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  overflow: hidden;
  transform-style: preserve-3d;
}

#container .hitbox {
  width: 350px;
  height: 566.31px;
  margin: 40px;
}

/* Scale in, choose card height/width = Golden */
#container .box {
  display: grid;
  grid-template-rows: 35% 4% 55%;
  justify-content: center;
  align-items: center;

  /* animation: 1s ease-out 0s 1 cardIntro2; */

  position: relative;
  width: 100%;
  height: 100%;

  background: radial-gradient(
    circle,
    rgb(22, 38, 48) 50%,
    rgb(19, 34, 43) 100%
  );

  border-radius: 15px;
  /* box-shadow: 0 0 0.3em rgb(255, 136, 0); */
  border: 2px solid rgb(255, 136, 0);

  transform-style: preserve-3d;
  transform: rotateY(180deg);
  /* filter: drop-shadow(0px 0px 2px white); */
  /* transition: 1s; */
}

/* Name comes in from top */
#container .box .name {
  position: relative;
  align-self: baseline;
  left: 0px;
  top: 0px;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 30px;
  /* color: rgb(58, 131, 199); */
  /* color: rgb(255, 136, 0); */
  color: white;

  width: 100%;
  flex: 10%;
  transform-style: preserve-3d;
  transform: translate3d(0, 0, 1px);
  transition: 0.5s;
  /* opacity: 0; */
  z-index: 1;
  text-shadow: 2px 1px rgb(255, 136, 0);
}

#container .box:hover .name {
  opacity: 1;
  top: 15px;
  transform: translate3d(0, 0, 10px);
}

#container .box .desc {
  position: relative;
  text-align: justify;
  align-self: baseline;

  font-weight: 800;

  top: 9%;
  transform: translate3d(0, 0, 1px);
  color: white;

  text-shadow: 1px 1px rgba(0, 0, 0, 1);
  padding: 10px 20px;
  border-radius: 5px;
  transition: 0.5s;

  /* opacity: 0; */
  /* z-index: 1; */
}

#container .box:hover .desc {
  top: 7%;
  transform: translate3d(0, 0, 1px);
}

#container .box .product {
  position: relative;
  flex: 30%;
  left: 5px;
  height: 195px;
  width: 340px;

  /* box-shadow: 0 0 1em rgb(255, 136, 0); */
  border-bottom: 3px solid rgb(255, 136, 0);

  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  align-self: center;
  object-fit: cover;
  transition: 0.5s;
  /* transform-style: preserve-3d; */
  transform: translate3d(0, 5px, 1px);
  z-index: 2;
}

#container .box:hover .product {
  transform: translate3d(0, 5px, 10px);
}

#container .box .back {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-style: preserve-3d;
  transform: translate3d(0px, 0px, -1px) rotateY(180deg);
  height: 100%;
  width: 100%;
}

#container .box .back img {
  height: 300px;
  width: 300px;
  /* z-index: -100; */
  filter: invert();
  /* filter: invert(78%) sepia(56%) saturate(6818%) hue-rotate(108deg) brightness(95%) contrast(108%); */
}

/* #container .box:nth-child(1) .circle {
  background: red;
}

#container .box:nth-child(2) .circle {
  background: blue;
}

#container .box:nth-child(3) .circle {
  background: green;
} */

@keyframes cardIntro2 {
  0% {
    transform-origin: 50% 100vh;
    transform: scale(0) rotateY(180deg);
  }
  100% {
    transform: scale(1) rotateY(180deg);
  }
}
