@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap);

/* .hover {
	-webkit-user-select: none;
	-webkit-touch-callout: none;
} */

@media (min-width: 1500px) {
	#container .hitbox,
	#container .hitbox2 {
		width: 29%;
	}

	#container .box .name {
		font-size: 40px;
	}
}

@media (min-width: 1000px) and (max-width: 1500px) {
	#container .hitbox,
	#container .hitbox2 {
		width: 42%;
	}

	#container .box .name {
		font-size: 40px;
	}
}

@media (max-width: 999px) {
	#container .hitbox,
	#container .hitbox2 {
		min-width: 85%;
	}

	#container .box .name {
		font-size: 30px;
	}
}

* {
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
	-ms-overflow-style: none;
	scrollbar-width: none;
	font-size: 20px;
}

::-webkit-scrollbar {
	display: none;
}

#background {
	margin: 20px;
}

#background-text {
	transform: skewY(-7deg);
	text-shadow: 2px 2px rgb(255, 115, 0);
	word-wrap: break-word;
	display: table-cell;
	vertical-align: middle;
	text-align: left;
	font-family: fantasy;
	font-size: 70px;
	color: #3d3d3d;
	z-index: -1;
}

#background-text2 {
	width: 100%;
	word-wrap: break-word;
	display: table-cell;
	vertical-align: middle;
	text-align: right;
	/* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; */
	font-size: 30px;
	color: #3d3d3d;
}

body {
	background: linear-gradient(135deg, #fff6d0 0%, #d3cbaa 100%);
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}

#container {
	flex-direction: row;
	display: flex;
	justify-content: center;
	align-content: flex-start;
	flex-wrap: wrap;
	margin: 20px;
}

#container .hitbox {
	height: 150px;
	margin: 20px;
	border-radius: 10px;
	box-shadow: 0px 2px 5px rgb(134, 60, 0);
	transition: 0.5s;
	overflow: visible;
}

#container .hitbox2 {
	height: 150px;
	margin: 20px;
	border-radius: 10px;
	transition: 0.5s;
	overflow: visible;
}

#container,
#container .box {
	position: relative;
	transform-style: preserve-3d;
}

#container .box {
	grid-template-areas:
		"icone name name name name"
		"image image image image image"
		"desc desc desc desc desc";
	justify-content: center;
	align-items: center;
	display: grid;
	grid-template-rows: 150px 1fr;
	width: 100%;
	height: 100%;
	background: #fff6d0;

	border-radius: 10px;
	overflow: hidden;
	transition: 0.5s;
}

#container .box .desc,
#container .box .name,
#container .box .product,
#container .box .back {
	position: relative;
	transition: 1s;
	top: 0%;
}

#container .box:hover * {
	top: -150px;
}

#container .box .desc {
	grid-area: desc;
	text-align: justify;
	font-weight: 800;
	align-self: center;
	color: #3d3d3d;

	transform: translate3d(0, 0, 1px);
	padding: 20px;
}

#container .box .product {
	grid-area: image;
	width: 100%;

	min-height: 200px;
	height: 100%;
	overflow: hidden;
	align-self: center;
	object-fit: cover;
}

#container .box .name {
	grid-area: name;
	left: -5%;
	text-align: center;
	font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
	color: #3d3d3d;
}

#container .box .back {
	grid-area: icone;
}

#container .box .back img {
	height: 120px;
	object-fit: contain;
	width: 120px;
	margin: 15px;
	filter: brightness(0);
}
